div data-controller="autocomplete" data-autocomplete-url=cities_path
  input type="text" data-target="autocomplete.input"
  input type="hidden" data-target="autocomplete.hidden"

  ul data-target="autocomplete.results"
